.header__lang-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 117%;
    margin: 0 18px 0 0;
    padding: 0;
    color: white;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-weight: 400;
        font-size: 18px;
        line-height: 111%;
    }
}

.header__lang-link:last-of-type {
    margin-right: 0;
}